@keyframes pullingFood {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

#friends-display-link {
  display: block;
  text-align: center;
  background-color: #2DC0BD;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
  transition: all .3s ease-in-out;
  animation: pullingFood .5s ease-in-out;
  animation-delay: .3s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#friends-display-link i {
  color: #f5b639;
  margin-right: 10px;
}

#friends-display-link span {
  font-size: 28px;
}

.fa-info-circle {
  margin-right: 3px;
}

.fa-chevron-right {
  margin-left: 10px;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  } 
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: #2DC0BD;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen .3s ease-in-out forwards;
  animation-delay: .5s;
  z-index: 999;
}

.splash-screen img {
  height: 55vw;
  width: 55vw;
  border-radius: 50%;
}

.friends-screen__channel .user-component {
  margin-bottom: 25px;
}