.more-screen {
  box-sizing: border-box;
}

.more-screen .icon-row {
  margin-top: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 65px);
  column-gap: 35px;
  row-gap: 55px;
  padding: 0 20px;
}
.more-screen .icon-row__icon i {
  color: royalblue;
}

.more-screen .icon-row-title {
  color: rgba(0, 0, 0, 0.4);
}

.more-suggestions {
  margin-top: 50px;
  padding-top: 35px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 65px);
  padding: 0 10px;
  column-gap: 20px;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  min-width: max-content;
}

.more-suggestions__icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: var(--yellow);
}

.more-suggestions__icon-image i {
  font-size: 30px;
  color: royalblue;
}

.more-suggestions__icon-title {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.4);
}
