.alt-screen-header {
  padding: var(--horizontal-space);
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2DC0BD;
  color: white;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.alt-screen-header__title {
  font-size: 27px;
  font-weight: 600;
  min-width: max-content;
  letter-spacing: 1px;
}

.alt-screen-header__column:nth-child(3) i:last-child {
  margin-left: 20px;
}