.screen-header {
  padding: var(--horizontal-space);
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
}

.screen-header__icons i {
  margin-left: 30px;
}

@keyframes iconAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon:last-child i:hover {
  animation: iconAnimation 1s linear infinite;
}